@viewport { width: device-width; scale: 1; }


*, *::before, *::after {
  box-sizing: inherit;
}

html {
	font-family: 'Rasa', serif;
	 box-sizing: border-box;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: lightgrey;
}




svg path {
	stroke: none;
}

.cord {
	transform: translateY(-70px);
}


.art {

transform: translateY(-70px);
  animation: floaty 15000ms alternate infinite ease-in-out;
}

@keyframes floaty {


  0% {
    transform: translateY(-75px) translateX(-2px);
  }



  50% {
    transform: translateY(-80px) translateX(-7px) ;
  }

   60% {
    transform: translateY(-74px) translateX(-9px);
  }


  100% {
    transform: translateY(-80px) translateX(4px) rotate(-4deg);
    transform-origin: top right;
  }
}





