html {
	background-color: #08262c;
}


svg path {
	stroke: none;
}
.container {
	position: relative;
}

.baby {
	position: absolute;
	top: -40px;
	left: 1em;

}

svg {
	position: relative;
	transform: scale(1.2);
}

.art {
	position: absolute;
  animation: floaty 20000ms alternate infinite ease-in-out;
}

@keyframes floaty {


  0% {
    transform: translateY(-10px);
  }


  15% {
    transform: translateY(8px);
  }


  30% {
    transform: translateX(5px) scale(.97);
  }

  42% {
  	transform: rotate(-2deg);
    transform-origin: top right;

  }

  50% {
    transform: translateX(-5px) rotate(2deg) scale(1.05);
    transform-origin: top right;

  }

  65% {
    transform: translateY(-8px);
  }

   72% {
  	transform: rotate(-4deg);
    transform-origin: top right;
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px) scale(1) rotate(-2deg);
  }
}

}


