@viewport { width: device-width; scale: 1; }


*, *::before, *::after {
  box-sizing: inherit;
}

html {
	font-family: 'Rasa', sans-serif;
	 box-sizing: border-box;
	 background: #34d9c3;
	 background: #c3ddd5;
	 background: #abc6be;


}

h1{

	font-family: 'Montserrat', serif;
	letter-spacing: 1.2px;
}

.content {
	margin-top: 2em;
	border-left: 1px dashed #fff;
}

.content ul {
	display:block;
	padding-left: 0;
}
.content ul li {
		list-style: none;
		font-family: 'Montserrat', serif;
		font-size: .875em;
}


.content a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	border-bottom: 1px dashed #fff;
}

.no-border-bottom a:hover {
	border-bottom: none;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: lightgrey;
}

.baby svg {
	transform: scale(1.1);
		 transition: all 500ms linear;
}

.sm-icon{
  width: 50px;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  opacity: .7;
  border-bottom: transparent;
}

.sm-icon:hover {
  transform: scale(1.3) rotate(360deg);
  opacity: 1;
}

svg path {
	stroke: none;
}

.cord {
	transform: translateY(-70px);
}


.art {

transform: translateY(-70px);
  animation: floaty 16000ms alternate infinite ease-in-out;
}

@keyframes floaty {


  0% {
    transform: translateY(-75px) translateX(-2px) rotate(-2deg);
  }



  50% {
    transform: translateY(-80px) translateX(-5px)  ;
  }

   60% {
    transform: translateY(-75px) translateX(-2px) rotate(-3deg);
  }



  100% {
    transform: translateY(-80px) translateX(4px) rotate(-4deg);
    transform-origin: top right;
  }
}





@media only screen and (min-width: 60em) {


	.baby svg {
		transform: scale(1.3) translateX(80px) translateY(30px);
	}

			.content ul li{
		display: inline;
	}
}





.ball {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 100px;
  background-color: #fff;
  border-radius: 50px;
  opacity: .5;
   animation: bubbleup 2000ms forwards ease-in;

}

@keyframes bubbleup {
	0% {
		top:200px;
		left: 200px;
	}

	100% {
		top:-200px;
	}
}
