@viewport { width: device-width; scale: 1; }


*, *::before, *::after {
  box-sizing: inherit;
}

html {
	font-family: 'Rasa', sans-serif;
	 box-sizing: border-box;
	 background: #34d9c3;
}

h1{

	font-family: 'Montserrat', serif;
	letter-spacing: 1.2px;
}

.content {
	margin-top: 1em;
	border-left: 1px dashed #fff;
}


.email{
	font-family: 'Montserrat', serif;
	color: #fff;
	text-decoration: none;
}


.email:hover {
	border-bottom: 1px dashed #fff;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: lightgrey;
}

.baby svg {
	transform: scale(1.1);
}

.sm-icon{
  width: 50px;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  opacity: .7;
}

.sm-icon:hover {
  transform: scale(1.3) rotate(360deg);
  opacity: 1;
}

svg path {
	stroke: none;
}

.cord {
	transform: translateY(-70px);
}


.art {

transform: translateY(-70px);
  animation: floaty 12000ms alternate infinite ease-in-out;
}

@keyframes floaty {


  0% {
    transform: translateY(-75px) translateX(-2px);
  }



  50% {
    transform: translateY(-80px) translateX(-7px) ;
  }

   60% {
    transform: translateY(-74px) translateX(-9px);
  }


  100% {
    transform: translateY(-80px) translateX(4px) rotate(-4deg);
    transform-origin: top right;
  }
}





